@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f0f0;
  --foreground: #171717;

  --primary: #16a34a;
  --primary-foreground: #ffffff;

  --accent: #fdbc30;
  --accent-foreground: #171717;

  --muted: #f4f4f5;
  --muted-foreground: #63636b;

  --destructive: #cf3a3a;
  --destructive-foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}
